<h3>Library website search</h3>
<div id="libweb-search" class="col-md-12" data-no-turbolink>
    <gcse:searchresults-only queryParameterName="q" linkTarget="_self" webSearchResultSetSize="10">
</div>

<!-- Google cse. -->
<script>
(function() {
  var cx = '015192785404496812646:ac4fr7did5y'; // Insert your own Custom Search engine ID here
  var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
  gcse.src = '//www.google.com/cse/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  $('#website i.waiting').hide();
})();
</script>
