<span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select a list
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @summaries.each do |summary| %>
      <li><a href="<%= dashboard_show_url(summary.id) %>"><%= summary.list_full_name %></a></li>
    <% end %>
  </ul>
</span>