<div style="float: right;align:right">
    <button type="submit" class="btn btn-info"
        title="Save changes to this collection definition">Save</button>
    <button type="button" id="cancel_edit" class="btn btn"
        title="Cancel your changes to this collection definition">Cancel</button>
</div>