<style>
  .callnumber {
    white-space: nowrap;
  }
</style>

<div>
  <p>Items: <b><%= @data[:criteria] %></b></p>
  <!-- TODO: Make the download link honor the current filter -->
  <p><a href="<%= dashboard_details_path(format: 'tsv') %>">Download data (TSV)</a></p>
</div>
<%= render "rows" %>