<div class="row">
    <h2>Collection Ecosystem Dashboard</h2>
    <div class="col-sm-12">
        <ul>
            <% @summaries.each do |summary| %>
                <li><a href="<%= dashboard_show_url(summary.id) %>"><%= summary.list_full_name %></a></li>
            <% end %>
        </ul>
    </div>
</div>


