<h2><%= @info[:name] %></h2>
<p>Sierra List: <%= @info[:list] %></p>
<p>Total items: <%= @info[:count] %></p>
<p>Items by location: (pending)</p>
<p><a href="<%= dashboard_details_url('econ') %>">View details</a></p>
