<h4>
    <%= link_to name, url %>
</h4>
<% if description != nil %>
<p>
    <%= description %>
</p>
<% end %>

<div>
    <span class="label label-primary">Best Bet</span>
    <button type="button" class="btn btn-sm info-box" data-content="Best Bets are commonly used resources."><i class="fa fa-info"></i></button>
</div>