<h5>
    <%= link_to name, url %>
</h5>
<div class="branding">
    <span class="label label-primary"><a href="<%= url %>">Best Bet</a></span>
    <button type="button" class="btn btn-sm info-box" data-content="Best Bets are commonly used resources."><i class="fa fa-info"></i></button>
</div>

<% if description != nil %>
<div class="description">
    <%= description %>
</div>
<% end %>

