<div class="col-md-6 col-md-offset-3">
  <div class="well well-lg">
    <p>
      easySearch <sup>beta</sup> is the search tool for discovering materials in the Brown University Library’s collections. It includes books, articles, all other formats, and the Library web site through a simple search box, allowing you to filter your search results based on your needs.
    </p>

    <p>
      During the Spring 2015, the Library is testing a new tool to help you navigate through the millions of items held by the Library and improve your search experience. The design and functionality of easySearch <sup>beta</sup> is based on the Library's ongoing evaluation of services and specifically based on a review of user and staff feedback over a two year period.
    </p>

    <p>
      As we continue to work on an improved search experience for all, <a href="https://docs.google.com/forms/d/1VFbkZQR_1EIqsZ8RgLv1mo_0nnKtIT6AIe-Ms_SY_1E/viewform">we welcome your questions and comments</a>.
    </p>
  </div>
</div>

<div class="col-md-12 col-lg-offset-2">
  <img src="http://library.brown.edu/search_assets/blacklight_results_doc.jpg"/>
  <div class="small"><a href="http://library.brown.edu/search_assets/blacklight_results_doc_longdesc.html">Full text description of search results page</a></div>
</div>