<div class="col-md-6 col-md-offset-3">
  <div class="well well-lg">
    <p>
      easySearch <sup>beta</sup> is the search tool for discovering materials in the Brown University Library’s collections. It includes books, articles, all other formats, and the Library web site through a simple search box, allowing you to filter your search results based on your needs.
    </p>

    <p>
      During the Spring 2015, the Library is testing a new tool to help you navigate through the millions of items held by the Library and improve your search experience. The design and functionality of easySearch <sup>beta</sup> is based on the Library's ongoing evaluation of services and specifically based on a review of user and staff feedback over a two year period.
    </p>

    <p>
      As we continue to work on an improved search experience for all, we welcome your questions and comments.
    </p>

  </div>
</div>