  <div class="well well-lg">
    <p>
      Welcome to the new search tool for discovering materials in the Brown University Library’s collections. You will find books, articles, materials in all other formats, and even Library web pages, through a simple search box. The discovery service also allows you to filter and refine your search results based on your needs.
    </p>

    <p>
      The design and functionality of the discovery service is based on the Library's ongoing evaluation of services, and specifically based on a review of user and staff feedback over a two year period. As we continue to work on an improved search experience for all, <a href="https://docs.google.com/forms/d/1VFbkZQR_1EIqsZ8RgLv1mo_0nnKtIT6AIe-Ms_SY_1E/viewform">we welcome your questions and comments</a>.
    </p>

  </div>

<div>
  <img src="http://library.brown.edu/search_assets/blacklight_results_doc.jpg"/>
  <div class="small"><a href="http://library.brown.edu/search_assets/blacklight_results_doc_longdesc.html">Full text description of search results page</a></div>
</div>
