<div class="well well-lg">
  <p>Welcome to the new Brown University Library Josiah search tool. This service has been developed to replace the <a href="http://josiah.brown.edu/">Classic&nbsp;Josiah&nbsp;Catalog</a>, allowing users to search easily across many diverse library services and systems.</p>
  <p>We welcome your feedback! Please <a href="<%= google_form_url() %>" target="_blank">send us any questions and comments about this service</a>.</p>
</div>
<%= render_search_bar  %>
<hr />

<h2>About the new Josiah search tool</h2>
<%= image_tag "josiah_ball.png", alt: "infographic demonstrating the materials and services indexed by Josiah", id: "josiah_infographic" %>
<div style="margin-left : 25px ; ">
    <h3>
        What is in Josiah?
    </h3>
    <p>
        Josiah searches most of the journal, magazine, and newspaper resources available through Brown&rsquo;s library databases, as well as our Classic Josiah Catalog (which includes most of the library's books and other physical holdings), the Brown University Library Digital Collections, and the Brown Digital Repository. Other types of materials such as dissertations, theses, and library research guides are also included. Josiah also searches the full-text content of the Brown University Library&rsquo;s ebook collections.
    </p>
    <div style="margin-left : 25px ; ">
        <p>
            <strong>Facet Searching</strong> allows you to narrow your search results by various criteria such as publication date, author, location, subject, and more. Look for the <em>Format</em> or <em>Limit Your Search</em> sidebars on the search results screen.
        </p>
        <p>
            <strong>Best Bets</strong> may suggest a popular resource based on your search. These suggestions appear at the top of your search results.
        </p>
    </div>
    <h2>
        What is not in Josiah?
    </h2>
    <p>
        While Josiah does contain information from most of the Library&rsquo;s databases, it does not include absolutely everything available through the Library. Specialized or comprehensive research may also be done in the Library&rsquo;s <a href="http://libguides.brown.edu/az.php">subject-specific databases</a>. For information about which databases are best for your subject area, consult a <a href="http://libguides.brown.edu/">Subject Guide</a> or contact a <a href="http://library.brown.edu/about/specialists.php">Subject Librarian</a>.
    </p>
    <div style="margin-left : 25px ; ">
        <p>
            <strong>Getting materials Brown doesn&rsquo;t have</strong>: Brown will <a href="http://library.brown.edu/borrowing/">work with other libraries</a> to get materials that you need but we don&rsquo;t have. Books and media are delivered to campus, while articles and chapters are sent as PDFs.
        </p>
    </div>
</div>
