<!-- # https://docs.google.com/document/d/1U8ErKrmIf2t8ozN6n03SdNimn6kTJ5obF79wX0JeKv0/edit -->

<style>
  .venn_diagram {
    float: right;
  }
  .about_text {
    font-size: 115%;
  }

  .list_indented {
    list-style-position: inside;
    list-style-image: none;
    list-style-type: none;
  }
</style>

<h1>About Josiah</h1>
<p class="about_text"><%= image_tag("josiah_venn.png", alt: "infographic demonstrating the materials and services indexed by Josiah", width: "35%", class: "venn_diagram") %>
<b>Josiah</b> is the Library's discovery tool that searches across multiple
sources including the Library Holdings (printed and e-books, CDs and DVDs,
musical scores, and some ephemera and graphics), most of our Licensed Content
(journals, magazines, and newspapers), and other Brown Resources (like the
Brown Library website and the Brown Digital Repository.)</p>

<ul class="about_text list_indented">
  <li><b>Faceted Searching</b> in Josiah allows you to narrow your search results
by various criteria such as publication date, author, language, location,
subject, and more. Look for the <i>Format</i> or <i>Limit Your Search</i>
sidebars on the search results screen.
  <li><b>Best Bets</b> may suggest a popular resource based on your search.
These suggestions appear at the top of your search results.
</ul>

<p class="about_text">While Josiah contains information from most of the Library’s databases,
it does not include absolutely everything available through the Library.
Specialized or comprehensive research may also be done in the Library’s
<a href="http://libguides.brown.edu/az.php" target="_blank">subject-specific databases</a>.
For information about which databases are best for your subject area, consult a
<a href="http://libguides.brown.edu/" target="_blank">Subject Guide</a> or contact a
<a href="http://library.brown.edu/about/specialists.php" target="_blank">Subject Librarian</a>.</p>

<h2>Getting materials Brown doesn’t have</h2>

<p class="about_text">Brown will
<a href="http://library.brown.edu/borrowing/" target="_blank">work with other libraries</a>
to get materials that are not available here or that have been checked out.
Books, microfilm, and media are delivered to campus, while articles and chapters
are sent as PDFs. Look for the <b>Findit!</b> links when searching subject-specific
databases to learn if we have the resource at Brown or to request it from
another library.</p>

<h2>How is Josiah different from Classic Josiah?</h2>

<p class="about_text"><a href="http://josiah.brown.edu/" target="_blank">Classic Josiah</a>
is our original online catalog. It includes all printed and e-books, CDs and
DVDs, musical scores, and some ephemera and graphics. Classic Josiah also
provides key information on the library’s print and ejournal holdings,
but <i>it cannot be used to search for articles within those journals</i>.
Classic Josiah can do a few things that the newer Josiah cannot yet do, such as
allow you to browse materials with the same subject headings by hyperlink and
enable you to carry out targeted searches from the start, by title, author, or
subject heading.</p>

<p>&nbsp;</p>
