<!-- patches aria-labelledby issue (see https://github.com/projectblacklight/blacklight/issues/1776 -->
<div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
