<!-- begin bul_pl_header -->
<div id="bul_pl_header_begin">
    <a href="#bul_pl_header_end" id="bul_pl_skip_header">Skip header</a>
    <div id="bul_pl_header_container">
        <header id="bul_pl_universal_header">
            <div id="bul_pl_brand">
                <a href="https://brown.edu" role="button" aria-label="Brown home"><img id="bul_pl_brown_shield_header_svg" style="height : 75px ; " alt="Brown University" src="https://library.brown.edu/common/images/BUL_logo.svg" /></a>
            </div>
            <div id="bul_pl_logo_text" style="font : 1.5rem CircularStd ; ">
                <a href="https://library.brown.edu/">University Library</a>
            </div>
            <nav id="bul_pl_header_links">
                <div id="bul_pl_header_text">
                    <a href="https://library.brown.edu/libweb/proxy.php">Off-Campus Access</a>
                    <a href="https://library.brown.edu/libweb/my_library_account_login.php">My Library Account</a>
                </div>
                <noscript>
                    <div>
                        <a href="https://search.library.brown.edu" id="bul_pl_noscript_search">Search</a>
                        <link rel="stylesheet" type="text/css" href="https://library.brown.edu/common/css/bul_patterns_noscript.css" />
                    </div>
                </noscript>
                <div id="bul_pl_header_modal_trigger_container">
                    <!-- these a elements needs an href attribute to keep it in the tab rotation -->
                    <a href="javascript:;" class="bul_pl_header_modal_trigger" role="button" aria-label="Search the Library"> <span id="bul_pl_search_icon">&#9906;</span> </a>
                </div>
                <div id="bul_pl_header_links_icon_separator">
                </div>
                <div id="bul_pl_header_menu_trigger_container">
                    <a href="javascript:;" class="bul_pl_header_menu_trigger" role="button" aria-label="menu links"><noscript><a href="https://library.brown.edu/"></noscript><span id="bul_pl_hamburger_icon">&#9776;</span> <noscript></a></noscript> </a>
                </div>
                <div class="bul_pl_header_modal">
                    <div class="bul_pl_header_modal-content">
                        <span class="bul_pl_header_modal_close-button" role="button">×</span>
                        <div class="bul_pl_header_modal_text">
                            <form method="get" action="https://search.library.brown.edu/" name="searchForm" id="searchForm" class="search">
                                <input name="utf8" type="hidden" value="✓">
                                <div id="bul_pl_searchForm_lookfor_container">
                                    <input id="bul_pl_searchForm_lookfor" type="text" name="q" placeholder="Search the Library" onfocus="if (value =='Search the Library'){value =''}" aria-label="Search the Library"> <button id="bul_pl_search_button"><span>Search &rarr;</span> </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bul_pl_header_menu">
                    <div class="bul_pl_header_menu-content">
                        <span class="bul_pl_header_menu_close-button" role="button">×</span> <img id="bul_pl_brown_shield_menu_svg" style="height : 44px ; " alt="Brown University" src="https://library.brown.edu/common/images/BUL_logo.svg" />
                        <div id="bul_pl_header_menu_text">
                            <ul>
                                <li class="bul_pl_header_show_tiny_screen"><a href="https://search.library.brown.edu/libweb/proxy.php">Search</a></li>
                                <li class="bul_pl_header_show_small_screen"><a href="https://library.brown.edu/libweb/proxy.php">Off-Campus Access</a></li>
                                <li class="bul_pl_header_show_small_screen"><a href="https://library.brown.edu/libweb/my_library_account_login.php">My Library Account</a></li>
                                <li><a href="https://library.brown.edu/borrowing/">Borrow, Request, & Renew</a></li>
                                <li><a href="https://library.brown.edu/info/ajdb">Articles, Journals, & Databases</a></li>
                                <li><a href="https://library.brown.edu/about/specialists.php">Research Help</a></li>
                                <li><a href="https://library.brown.edu/libweb/hours.php">Hours & Locations</a></li>
                                <li><a href="https://brownlibrary.lwcal.com/#view/all">Events</a></li>
                                <li><a href="https://library.brown.edu/libweb/askalib.php">Ask a Question Now</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <script>

                // When the user scrolls down 42px from the top of the document, resize the header's font size

                window.onscroll = function() {bul_pl_header_scrollFunction()};

                function bul_pl_header_scrollFunction() {
                if (document.body.scrollTop > 42 || document.documentElement.scrollTop > 42) {
                    document.getElementById("bul_pl_universal_header").style.height = "48px";
                    document.getElementById("bul_pl_universal_header").style.padding = "0px 0px 12px 25px";
                    document.getElementById("bul_pl_brown_shield_header_svg").style.height = "45px";
                    document.getElementById("bul_pl_header_links").style.margin = "2ex 40px 0 0";
                    document.getElementById("bul_pl_logo_text").style.margin = "20px 0px 0px 0px";
                    document.getElementById("bul_pl_logo_text").style.font = "1rem CircularStd";

                } else {
                    document.getElementById("bul_pl_universal_header").style.height = "85px";
                    document.getElementById("bul_pl_universal_header").style.padding = "12px 0px 12px 25px";
                    document.getElementById("bul_pl_brown_shield_header_svg").style.height = "75px";
                    document.getElementById("bul_pl_header_links").style.margin = "4ex 40px 0 0";
                    document.getElementById("bul_pl_logo_text").style.margin = "33px 0px 0px 43px";
                    document.getElementById("bul_pl_logo_text").style.font = "1.5rem CircularStd";
                }
                }

                // show/hide the modal/search and side/menu panes

                var bul_pl_header_modal = document.querySelector(".bul_pl_header_modal");
                var bul_pl_header_modal_trigger = document.querySelector(".bul_pl_header_modal_trigger");
                var bul_pl_header_modal_closeButton = document.querySelector(".bul_pl_header_modal_close-button");

                var bul_pl_header_menu = document.querySelector(".bul_pl_header_menu");
                var bul_pl_header_menu_trigger = document.querySelector(".bul_pl_header_menu_trigger");
                var bul_pl_header_menu_closeButton = document.querySelector(".bul_pl_header_menu_close-button");

                function bul_pl_header_toggleModal() {
                    bul_pl_header_modal.classList.toggle("bul_pl_header_modal_show");
                    document.getElementById("bul_pl_searchForm_lookfor").focus();
                }

                function bul_pl_header_toggleMenu() {
                    bul_pl_header_menu.classList.toggle("bul_pl_header_menu_show");
                }

                bul_pl_header_modal_trigger.addEventListener("click", bul_pl_header_toggleModal);
                bul_pl_header_modal_closeButton.addEventListener("click", bul_pl_header_toggleModal);

                bul_pl_header_menu_trigger.addEventListener("click", bul_pl_header_toggleMenu);
                bul_pl_header_menu_closeButton.addEventListener("click", bul_pl_header_toggleMenu);
            </script>
        </header>
        <div id="bul_pl_header_end">
        </div>
    </div>
</div>
<!-- end bul_pl_header -->

<!-- begin bul_pl_subheader -->
<div id='bul_pl_subheader' style='background-color : #eed4aa ; ' >
    <div id='bul_pl_subheader_site_title'>
    <a href='https://search.library.brown.edu' style='color : var(--brown_brown) ;'>Josiah Search</a>
    <a href='subheader_end' id='bul_pl_skip_subheader'>Skip 10 subheader links</a>
    </div>
    <nav id='bul_pl_subheader_Josiah_Search_menu' class='bul_pl_subheader_nav_menu'>
    <div id='bul_pl_subheader_site_links'>
        <div id='bul_pl_subheader_trigram'>
        <label for='bul_pl_subheader_trigram_checkbox' class='bul_pl_subheader_trigram_toggle'>
        &#9776;
        </label>
        <input type='checkbox' id='bul_pl_subheader_trigram_checkbox' class='bul_pl_subheader_trigram_toggle'>
        <ul class='bul_pl_subheader_trigram_menu_contents'>
            <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/catalog?q='>Catalog</a></li>
            <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/reserves/search'>Reserves</a></li>
            <li class='bul_pl_subheader_single_link'><a href='https://docs.google.com/forms/d/e/1FAIpQLSfJzCWiV06MFF8mkJ7uhhnv_FeWAoKdlxIXMHAAwn7LIv4_UA/viewform?usp=pp_url&amp;entry.707592340&amp;entry.1473753199&amp;entry.1930188522&amp;entry.1267373353&amp;entry.1478665067=https%3A%2F%2Fsearch.library.brown.edu%2F'>Feedback</a></li>
            <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/bookmarks'>Bookmarks</a></li>
            <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/saved_searches'>Saved Searches</a></li>
            <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/search_history'>My History</a></li>
            <li class='bul_pl_subheader_single_link'><a href='<%= classic_josiah_link(@classic_bib) %>' target='_blank'>Classic Josiah</a></li>
            <li class='bul_pl_subheader_single_link'><a href='http://library.brown.edu/libweb/askalib.php'>Help</a></li>
            <li class='bul_pl_subheader_links_trigger'>
            <a href='javascript:;' onclick='javascript:void(0)'>Advanced Search&nbsp;&nbsp;&dtrif;</a>
            <div class='bul_pl_subheader_sublinks_container'>
                <ul class='bul_pl_subheader_sublinks'>
                <li><a href='https://search.library.brown.edu/advanced?action=home&amp;controller=easy'>Library Catalog</a></li>
                <li><a href='<%= Eds.native_advanced_url(@query || "", @trusted_ip || false) %>'>Journal Articles</a></li>
                </ul>
            </div>
            </li>
        </ul>
        </div>
        <ul id='bul_pl_subheader_links'>
        <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/catalog?q='>xCatalog</a></li>
        <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/reserves/search'>Reserves</a></li>
        <li class='bul_pl_subheader_single_link'><a href='https://docs.google.com/forms/d/e/1FAIpQLSfJzCWiV06MFF8mkJ7uhhnv_FeWAoKdlxIXMHAAwn7LIv4_UA/viewform?usp=pp_url&amp;entry.707592340&amp;entry.1473753199&amp;entry.1930188522&amp;entry.1267373353&amp;entry.1478665067=https%3A%2F%2Fsearch.library.brown.edu%2F' style='text-decoration : none ; color : var(--brown_brown) ;'>Feedback</a></li>
        <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/bookmarks'>Bookmarks</a></li>
        <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/saved_searches'>Saved Searches</a></li>
        <li class='bul_pl_subheader_single_link'><a href='https://search.library.brown.edu/search_history'>My History</a></li>
        <li class='bul_pl_subheader_single_link'><a href='<%= classic_josiah_link(@classic_bib) %>' target='_blank'>Classic Josiah</a></li>
        <li class='bul_pl_subheader_single_link'><a href='http://library.brown.edu/libweb/askalib.php'>Help</a></li>
        <li class='bul_pl_subheader_links_trigger'>
            <a href='javascript:;' onclick='javascript:void(0)'>Advanced Search&nbsp;&nbsp;&dtrif;</a>
            <div class='bul_pl_subheader_sublinks_container'>
            <ul class='bul_pl_subheader_sublinks'>
                <li><a class="joshia_menu_thingy" href='https://search.library.brown.edu/advanced?action=home&amp;controller=easy'>Library Catalog</a></li>
                <li><a class="joshia_menu_thingy" href='<%= Eds.native_advanced_url(@query || "", @trusted_ip || false) %>'>Journal Articles</a></li>
            </ul>
            </div>
        </li>
        </ul>
    </div>
    </nav>
</div>
<!-- end bul_pl_subheader -->