<div class="document-thumbnail">
  <a href="<%= bdr_solr_document_path(document.id) %>">
    <img class="thumbnail" style="height:125px" src="https://repository.library.brown.edu/viewers/image/thumbnail/<%= document.id %>"/>
  </a>
</div>  
