<% if query_has_constraints? %>

      <div id="appliedParams" class="clearfix constraints-container">
        <div class="pull-right">
          <%= link_to t('blacklight.search.restart_label'), easy_search_link, :class=>'btn', :id=>"startOverLink" %>
        </div>
        <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
        <%= render_constraints(params) %>
        <div><%= render_constraints_notes(params) %></div>
      </div>
<% end %>
