<!-- Blacklight override -->
<h2><%= t 'blacklight.search.zero_results.title' %></h2>

<div id="documents" class="noresults">
  <h3>Try modifying your search</h3>
  <ul>
    <li>Use fewer keywords to start and then refine your search.</li>
    <% if @retry_option %>
      <li><%= @retry_option.html_safe %>
    <% end %>
  </ul>
</div>
