<style>
  /* https://stackoverflow.com/a/42216111/446681 */
  .flash {
    animation: flash .5s;
  }

  @keyframes flash {
    50% {
      background: #edf5a0; /* yellow-ish */
    }
    100% {
      background: transparent;
    }
  }
</style>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <% unless has_search_parameters? %>
  <!-- see JavaScript at the bottom -->
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>

<script type="text/javascript">
// For calling the availability api.
var availabilityService = '<%= availability_service_url %>';

<% if @altered_search_terms %>
  // Note that we found a slighly modified version of the call number
  var infoBox = $("#appliedParams").first();
  var infoMsg = "Call number has been adjusted from <%= @original_q %>";
  var html;
  if (infoBox != null) {
    html = '<span id="callnumber_tip" class="glyphicon glyphicon-info-sign" title="' + infoMsg + '"></span>';
    infoBox.append(html);
    $("#callnumber_tip").tooltip();
  }
<% end %>

<% if has_search_parameters? == false %>
  $(function() {
    // Flash the input box.
    $("#q").addClass("flash");
  });
<% end %>

</script>
