<div id="content" class="col-md-9 show-document">
  <% @page_title = "Item not found" -%>
</div>

<h3>Item not found</h3>
<div>
  <p>This item does not exist in the catalog. If you believe this is incorrect,
    please let us know <a href="<%= google_form_url() %>" target="_blank">via the feedback form</a>.</p>
  <p>
  <p><%= link_to("« Go back to the catalog", catalog_index_path(q: ''), class: "btn btn-primary btn-lg", role: "button") %></p>
</div>

<div id="sidebar" class="col-md-3">
</div>
