$navbar-inverse-bg: #3a1e1a;
$navbar-inverse-link-color: #fff;
$brand-primary: #c00404;

$logo_image: 'bul/BU-shield+type_501x87.png';

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'blacklight/blacklight';


#header-navbar {
  border-top: #7f2320 thick solid;

  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 501px;
    height: 87px;
    background:transparent image_url($logo_image) no-repeat left center;
    text-indent: 20%;
    white-space: nowrap;
    overflow: visible;
    padding-right:0;
    margin-top: -17px;
    margin-right:20px;
    padding-left: 2%;
  }
}

.dl-horizontal.dl-invert.record-page {
  margin-left: 1em;
}

.abstract {
  margin-top: 1em;
  margin-left: 2em;
}
