/* style updates for BUL implementation */


/* load 'Source Sans Pro' type family via Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic);


body {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
}


/* change color of 'online' indicator */

.label-info {
    background-color: #7bab54;
}

.label-info[href]:hover, .label-info[href]:focus {
    background-color: #7bab54;
}