// Place all the styles related to the easy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bentos {
    padding-bottom: 3em;
}

.start-over {
    margin-left: 2em;
}

.more {
    margin-left: 4em;
}

#facets {
    background-color: #eee;
    height: 100%;
}

#bentos ul li {
    padding-bottom: 1em;
}

#bentos .fa {
    margin-right: .25em;
}

#format-list {
    min-height: 10em;
}

h3.bento-header a {
    color: #333333;
}

#other-searches {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

#worldcat-section img {
    padding-right: .25em;
}

#bentos .label-info {
    margin-left: 2em;
}

#jump-links a {
    font-size: small;
}

button.info-box {
    background-color: transparent;
}

#best-bet {
    background-color : #FFC72C ;
    margin-left: 2%;
    padding: 1em;
    margin-bottom: 1em;
}

#best-bet h5 {
    display: inline;
    clear: left;
}

#best-bet h5 a {
    font-size : 1.4em ;
    text-decoration : underline ;
}

#best-bet .branding {
    text: right;
    display: inline;
    margin-left: 1.5em;
}

#best-bet .label-primary {
    background-color: #7bab54;
}

#best-bet .label-primary a {
    color: #fff;
}

#best-bet .label-primary a:hover {
    text-decoration: none;
}


.request-this-link {
    float: right;
}

/* change color of 'online' indicator */

.label-info {
    background-color: #7bab54;
}

.label-info[href]:hover, .label-info[href]:focus {
    background-color: #7bab54;
}
