// Place all the styles related to the easy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.start-over {
    margin-left: 2em;
}

.more {
    margin-left: 4em;
    font-size: smaller;
}

#facets {
    background-color: #eee;
    height: 100%;
}