// Place all the styles related to the libweb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.gsc-search-box {
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}