<div id="availability_manual">
  <hr>

  <h5 itemprop="copies">Copy Information!</h5>

  <dl class="dl-horizontal dl-invert">
    <dt class="blacklight-callnumber_display">Call Number:</dt>

    <dd class="blacklight-callnumber_display">BL1442.Z4 B59 v.1</dd>

    <dt class="blacklight-location_display">Location:</dt>

    <dd class="blacklight-location_display">The Rock!</dd>

    <dt class="blacklight-availability">Availability:</dt>

    <dd class="blacklight-availability">AVAILABLE</dd>
  </dl>

  <dl class="dl-horizontal dl-invert">
    <dt class="blacklight-callnumber_display">Call Number:</dt>

    <dd class="blacklight-callnumber_display">BL1442.Z4 B59 v.2</dd>

    <dt class="blacklight-location_display">Location:</dt>

    <dd class="blacklight-location_display">The SciLi!</dd>

    <dt class="blacklight-availability">Availability:</dt>

    <dd class="blacklight-availability">AVAILABLE</dd>
  </dl>

</div>
