{{! comment: called by `app/assets/javascripts/catalog_results_availability.js - buildAvailabilityHtml()` }}

<dl class="document-metadata dl-horizontal dl-invert">
  <dt class="blacklight-summary_availability">Availability:</dt>
  <dd class="blacklight-summary_availability">
    <span class="summary_availability {{ class_status }}">{{ availability_status }}</span>
  </dd>

  {{#if show_ezb_button}}
  <dd>
    <a href="javascript:redirect_ezaccess( '{{ bib_id }}' )" class="btn btn-primary btn-xs" role="button">Request Item</a>
  </dd>
  {{/if}}

</dl>
