{{! comment: called by `app/assets/javascripts/catalog_record_availability.js - addStatus()` }}

<div id="availability_manual">
  <hr/>
  <h4>Availability</h4>
  <table id="holdings-table" class="table">
    <tr>
      <th>Call number</th>
      <th>Location</th>
      <th>Status</th>
    </tr>
    <tbody>
      {{#each items}}
        <tr>
          <td>{{ callnumber }}</td>
          <td>{{ location }} </td>
          <td>{{ availability }}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if show_ezb_button}}

  <dl class="dl-horizontal dl-invert">
    <dd>
      <a href="{{ openurl }}" class="btn btn-primary" role="button">Request Item</a>
      <button class="glyphicon glyphicon-question-sign btn btn-default" data-toggle="modal" data-target="#myModal"></button>
    </dd>
  </dl>

  {{/if}}

</div>


<!-- Modal dialog box; only shows if question-button is clicked -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">When does the 'Request' button appear?</h4>
      </div>
      <div class="modal-body">
        'Request' means we'll get you a copy from a partner Library.
        There's a lot of logic we'll spare you, but in a nutshell, our goal is to get you a copy of a book you can take home.
        So of course if a Library copy isn't available, you'll see the Request button,
        but you may also see it if, for instance, the Library's only copy must be used within the Library.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
