{{! comment: called by `app/assets/javascripts/catalog_results_availability.js - buildAvailabilityHtml()` }}

<dl class="document-metadata dl-horizontal dl-invert">
  <dt class="blacklight-summary_availability">Availability:</dt>
  <dd class="blacklight-summary_availability">
    <span class="summary_availability" style="color:{{ availability_color }}">{{ availability_status }}</span>
  </dd>
</dl>
