<!DOCTYPE html>
<html>
<head>
  <title>Brown University Library</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<% # I don't think this view is used. %>
<% # The app seems to be using the default layouts/blacklight.html.erb %>
<% # within the blacklight gem %>
